<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.shara">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Shara"
        android:allowBackup="true"
        android:icon="@drawable/ic_shara_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_shara_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.views.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.views.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.views.OrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.views.OrderProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>